
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<hr />
<div>
    <h3>Lista Prenotazioni</h3>
    @{
        Html.RenderAction("AllReservations","Reservation");
    }
</div>
<div>
    <h3>Lista Clienti</h3>
    @{
        Html.RenderAction("AllCustomers","Customer");
    }
</div>

